/* CSS Styling Sheet for all pages */

/* Body */
body {
    background-color: #e6e6e6;
    }
/* Navbar */
.navbar {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 60px;
    font-size: 15px;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
} 
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color:  #e6e6e6;
}
.navigation .navbar-brand {
    color: white;
    margin-left: 30px;
    padding: 15px;
    font-weight: bold;
    background-color: #0ca69e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar .dropdown-item {
    color: black;
}
.active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: white !important;
}
.navbar .dropdown {
     position: relative;
    display: inline-block;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7 !important; 
  }

.nav-link:hover{
    background-color:#E7E7E7 !important;
}
.navbar-brand:hover {
    color: #afafaf;
}

    
/* Images */
img {
    object-fit: contain;
    display: inline-block;
    flex-wrap: wrap;
}
.visualization {
    width: 50%;
    height: 50%;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border: none;
}

.small-img {
    width: 100%;
    height: 100%;
}
/* Title */
.title {
    color: #0BADA6;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 25px;
    padding-left: 10px;
}
/* Paragraph */
p {
    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
/* Box */
.box {
    margin-top: 60px;
    margin-bottom: 62px;
    padding: 10px 20px 15px;
    color: black;
    background-color: white;
}
.box .active, .panel:hover {
    border-color: #0BADA6;
    border-style: solid;
}

/* Footer */
.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6D8092;
    text-align: center;
    padding-top: 6px;
    color: white;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #0BADA6;

}


/* Media Queries */
@media(max-width: 992px){
    .navbar-expand-lg{
    background-color: #0BADA6 !important;
    }
    .navbar{
      max-height: none; 
      padding: inherit;
    }
    .navbar div{
      margin: inherit; 
      background-color: white;  
    }
    .navbar-brand{
      padding: 10px !important; 
    }
    
    button{
      margin-right: 30px; 
    }
    button:focus {
    
      outline: 1px dotted;
      outline: 5px auto -webkit-focusring-color;
      
      }
    }

/* Table */
.table {
    font-size: 15px;
    border-top-color: white;
}